body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    background:#00ffa2;
}

.container{
    max-width: 700px;
    height: 200px;
    background: #004466;
    margin : 10rem auto;
    box-shadow: 0 5px 5px rgba(255,255,255,0.3);
}

.clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(20px + 5vw +2px);
    line-height: 200px;
    text-align: center;
    color: white;
    font-size: 70px;
    
}