.box{
    width: 500px;
    height: 500px;
    background-color: salmon;
    /* margin: marge :  */
    /* 
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px; 
    */

    /* margin: top left bottom right */
    margin : 15px 50px 15px 50px;



    /* 
    padding: rembourrage 
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    */
    
    /* padding: top left bottom right */
    padding: 15px 50px 15px 50px;
}