body{
    background-color:black ;
    color: white

}
.box{
    width: 100%;
    height: 100vh;
    background-image: url(./src/img.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background => raccourcis */
    background-attachment: fixed;
}